raw data/con_prod_hh_over_trx_yr_mo_usd.csv
raw data/demo_hh.csv
raw data/con_pur_hh_by_trx_yr_mo_usd.csv
raw data/demo_ind.csv
raw data/diaries_goingson_hh.csv
raw data/diaries_transactions_all.csv
raw data/diaries_wellbeing_ind.csv
raw data/edu_hh.csv
raw data/edu_ind.csv
raw data/housing_conditions_ownership.csv
raw data/inc_hh_by_trx_yr_mo_usd_incRR.csv
raw data/inc_ind_by_trx_yr_mo_usd_incRR.csv
raw data/pov_hh_by_trx_yr_mo_usd_excRR.csv
raw data/pov_hh_by_trx_yr_mo_usd_incRR.csv
raw data/rem_hh_by_trx_yr_mo_usd.csv
